.grid-container {
  width: 90%;
  margin-inline:  auto;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
  }
  
  .grid-item {
    border-radius: 16px;
    width: 200px; 
    height: 200px; 
    background-color: #ddd;
    
}