.recipes {
    position: relative;
    border-radius: 10px;

    .overlay-text {
        left: 50%;
        position: absolute;
        top: 85%;
        width: 100%;
        height: 30%;
        color: white;
        transform: translate(-50%, -50%);
        background-color: rgba(142, 140, 140, 0.342);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

       .recipe-name {
        font-size: 15px;
        margin:0 auto;
        padding-left: 5px;
       }

       .recipe-time {
        font-size: 13px;
        margin: 0 auto;
        padding-top: 5px;
        padding-left: 5px;
       }
    }
}
.input-container{
    display: flex;
}

.input-container-dropdown {
    position: relative;
    display: flex;
    width: 100%;
    margin-left: 90%;
    background-color: #084A83;
    padding:10px;
    height: 100px;
}

.input-container {
    display:flex;
    margin-left: 40%;
}
.dropdown-ingredient-wrapper{
    background-color: #084A83;
    height: 100%;
    max-width: 100%;
    border-radius: 16px;
    margin-right: 50px;

}
.ingredient-wrapper{
    background-color: #084A83;
    height: 100%;
    max-width: 100%;
    border-radius: 16px;
    margin-right: 50px;
}


    .secondary{
        display: flex;
        height: fit-content;
        width: auto;
    }
